doctype html
html.backgroundColor(lang="es-PE")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Perú Fútbol Stats - Cambiar Contraseña
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lemon', rel='stylesheet', type='text/css')
		link(rel='shortcut icon', href='/static/img/favicon.jpg')
		// CSS
		link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='/static/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/static/css/animate.css')
		link(rel='stylesheet', type='text/css', href='/static/css/YTPlayer.css')
		link(rel='stylesheet', type='text/css', href='/static/css/styles.css')
	style.
		.vertical-center {
			margin-top : 10%;
			background-color: #FFFFFF; 
		}
	body
		.container#app
			.col-md-12
				.section.clearfix
					h1.logo.animated.fadeInDown Perú Fútbol Stats
					#text_slider
						.slide.clearfix
							h2 Realiza el cambio de tu contraseña.
						.slide.clearfix
							h2 Ingresa tu contraseña en el siguiente formulario!
				.section.clearfix.animated.fadeIn
					.row
						.col-md-6.col-md-offset-3
							.input-group.input-group-lg.col-md-12
								input.form-control(v-model="password" type='password', name='password', placeholder='Ingrese su contraseña')
							br
							.input-group.input-group-lg.col-md-12
								input.form-control(v-model="repassword" type='password', name='password', placeholder='Repita su contraseña')
							br
							span.input-group-btn
								button.btn.btn-default(v-on:click="changePassword")
									i.fa.fa-check
									|  Cambiar contraseña!
				#contact.section.clearfix.animated.fadeIn
					a(href='#')
						i.fa.fa-envelope-o
						|  ggoyzueta@perufutbolstats.com
					a(href='#')
						i.fa.fa-phone
						|  (+51) 983 400 765
					.section.clearfix
						a.btn.btn-transparent.btn-facebook(href='#')
							i.fa.fa-facebook.fa-fw
						a.btn.btn-transparent.btn-twitter(href='#')
							i.fa.fa-twitter.fa-fw
						a.btn.btn-transparent.btn-googleplus(href='#')
							i.fa.fa-google-plus.fa-fw
						a.btn.btn-transparent.btn-youtube(href='#')
							i.fa.fa-youtube.fa-fw
						a.btn.btn-transparent.btn-pinterest(href='#')
							i.fa.fa-pinterest.fa-fw
						a.btn.btn-transparent.btn-instagram(href='#')
							i.fa.fa-instagram.fa-fw
						a.btn.btn-transparent.btn-linkedin(href='#')
							i.fa.fa-linkedin.fa-fw
					.section.clearfix
						a.open_aboutus.btn.btn-transparent.animated.fadeInUp(href='#') Más acerca de la compañia
		#footer
			p Diseñado por www.sociallazy.com
		#about_us
			h1 Sobre nosotros
			.container
				.row
					.col-lg-12
						p
							| Muy pronto tendras mas información sobre nosotros.	
			a.close_aboutus.btn.btn-default(href='#')
				i.fa.fa-times-circle
				|  Cerrar
		script(src='/static/js/jquery.min.js')
		script(src='/static/js/jquery.plugin.js')
		script(src='/static/js/bootstrap.min.js')
		script(src='/static/js/jquery.countdown.min.js')
		script(src='/static/js/supersized.min.js')
		script(src='/static/js/jquery.cycle.min.js')
		script(src='/static/js/jquery.mb.YTPlayer.js')
		script(src='/static/js/scripts.js')
		script(src='/static/js/vue.js')
		script(src='/static/js/axios.min.js')
		script.
			var urlApi = "https://scoutservice.herokuapp.com/";
			var app = new Vue({
				el : '#app',
				data: {
					password : '',
					repassword : '',
					response : {}
				},
				methods : {
					changePassword: function(){
						if(this.password == "" || this.repassword == ""){
							alert('Debe de completar todos los campos!');
							return;
						}else if(this.password != this.repassword){
							alert('Las contraseñas no coinciden!');
							return;
						}else if(this.password.length < 6){
							alert('Las contraseña debe ser mayor o igual a 6 digitos!');
							return;
						}
						axios.post(urlApi + "user", {
							command : 'CHANGE_PASSWORD_USER',
							transaction : {
								token : this.getParameterByName('token'),
								no_pasusr : this.password
							}
						}, {
							headers : {
								Authorization: "Bearer " + this.getParameterByName('token')
							}
						}).then(response => {
							this.response = response;
							if(this.response.data.status == "SUCCESS"){
								alert("Se ha actualizado su contraseña correctamente");
								window.location.href = urlApi;
							}else{
								alert("Ha ocurrido un error al actualizar su contraseña");
							}
						});
					},
					getParameterByName: function(name){
						const urlParams = new URLSearchParams(window.location.search);
						const param = urlParams.get(name);
						return param;
					}

				}
			});